[{:seq 0,
  :level 1,
  :title "Kelas 6",
  :code "K13R-0601",
  :parent-code "K13R-06"}
 {:seq 1,
  :level 2,
  :title "Matematika",
  :code "K13R-060101",
  :parent-code "K13R-0601"}
 {:seq 2,
  :level 3,
  :title "pengerjaan hitung bilangan bulat",
  :code "K13R-06010101",
  :parent-code "K13R-060101"}
 {:seq 3,
  :level 4,
  :title "pengerjaan hitung bilangan bulat",
  :code "K13R-0601010101",
  :parent-code "K13R-06010101"}
 {:seq 5,
  :level 3,
  :title "pengerjaan hitung bilangan",
  :code "K13R-06010102",
  :parent-code "K13R-060101"}
 {:seq 6,
  :level 4,
  :title
  "pengerjaan hitung bilangan-menentukan bilangan hasil pangkat tiga",
  :code "K13R-0601010201",
  :parent-code "K13R-06010102"}
 {:seq 7,
  :level 4,
  :title
  "pengerjaan hitung bilangan - menentukan hasil penarikan akar pangkat tiga",
  :code "K13R-0601010202",
  :parent-code "K13R-06010102"}
 {:seq 8,
  :level 4,
  :title
  "pengerjaan hitung bilangan-pengerjaan hitung akar dan pangkat",
  :code "K13R-0601010203",
  :parent-code "K13R-06010102"}
 {:seq 9,
  :level 4,
  :title "pengerjaan hitung akar dan pangkat tiga",
  :code "K13R-0601010204",
  :parent-code "K13R-06010102"}
 {:seq 10,
  :level 3,
  :title "pengukuran",
  :code "K13R-06010103",
  :parent-code "K13R-060101"}
 {:seq 11,
  :level 4,
  :title "pengukuran-hubungan antar satuan ukuran",
  :code "K13R-0601010301",
  :parent-code "K13R-06010103"}
 {:seq 12,
  :level 4,
  :title "pengukuran debit",
  :code "K13R-0601010302",
  :parent-code "K13R-06010103"}
 {:seq 13,
  :level 5,
  :title "debit 1",
  :code "K13R-060101030201",
  :parent-code "K13R-0601010302"}
 {:seq 14,
  :level 5,
  :title "debit 2",
  :code "K13R-060101030202",
  :parent-code "K13R-0601010302"}
 {:seq 15,
  :level 5,
  :title "debit 3",
  :code "K13R-060101030203",
  :parent-code "K13R-0601010302"}
 {:seq 16,
  :level 5,
  :title "debit 4",
  :code "K13R-060101030204",
  :parent-code "K13R-0601010302"}
 {:seq 17,
  :level 5,
  :title "debit 5",
  :code "K13R-060101030205",
  :parent-code "K13R-0601010302"}
 {:seq 18,
  :level 5,
  :title "debit 6",
  :code "K13R-060101030206",
  :parent-code "K13R-0601010302"}
 {:seq 19,
  :level 5,
  :title "debit 7",
  :code "K13R-060101030207",
  :parent-code "K13R-0601010302"}
 {:seq 20,
  :level 3,
  :title "luas dan volume",
  :code "K13R-06010104",
  :parent-code "K13R-060101"}
 {:seq 21,
  :level 4,
  :title "luas dan volume-2-bangun segi banyak",
  :code "K13R-0601010401",
  :parent-code "K13R-06010104"}
 {:seq 22,
  :level 4,
  :title "luas dan volume-3-bangun ruang",
  :code "K13R-0601010402",
  :parent-code "K13R-06010104"}
 {:seq 23,
  :level 3,
  :title "penyajian data dan pengolahan data",
  :code "K13R-06010105",
  :parent-code "K13R-060101"}
 {:seq 24,
  :level 4,
  :title "mengumpulkan dan membaca data",
  :code "K13R-0601010501",
  :parent-code "K13R-06010105"}
 {:seq 25,
  :level 4,
  :title "mengolah, menyajikan data dalam bentuk tabel",
  :code "K13R-0601010502",
  :parent-code "K13R-06010105"}
 {:seq 26,
  :level 4,
  :title "menafsirkan sajian data",
  :code "K13R-0601010503",
  :parent-code "K13R-06010105"}
 {:seq 27,
  :level 3,
  :title "pengerjaan hitung bilangan pecahan",
  :code "K13R-06010106",
  :parent-code "K13R-060101"}
 {:seq 28,
  :level 4,
  :title
  "pengerjaan hitung bilangan pecahan-5-memecahkan masalah perbandingan skala",
  :code "K13R-0601010601",
  :parent-code "K13R-06010106"}
 {:seq 29,
  :level 4,
  :title
  "pengerjaan hitung bilangan pecahan-2-mengubah bentuk pecahan",
  :code "K13R-0601010602",
  :parent-code "K13R-06010106"}
 {:seq 30,
  :level 3,
  :title "bilangan koordinat",
  :code "K13R-06010107",
  :parent-code "K13R-060101"}
 {:seq 31,
  :level 4,
  :title "koordinat letak sebuah benda",
  :code "K13R-0601010701",
  :parent-code "K13R-06010107"}
 {:seq 32,
  :level 4,
  :title "bidang koordinat Cartesius",
  :code "K13R-0601010702",
  :parent-code "K13R-06010107"}
 {:seq 35,
  :level 2,
  :title "IPA",
  :code "K13R-060102",
  :parent-code "K13R-0601"}
 {:seq 36,
  :level 3,
  :title "ciri-ciri makhluk hidup",
  :code "K13R-06010201",
  :parent-code "K13R-060102"}
 {:seq 37,
  :level 4,
  :title "ciri-ciri makhluk hidup",
  :code "K13R-0601020101",
  :parent-code "K13R-06010201"}
 {:seq 38,
  :level 5,
  :title "kelelawar dan cecak",
  :code "K13R-060102010101",
  :parent-code "K13R-0601020101"}
 {:seq 39,
  :level 5,
  :title "bebek-semut-kucing-landak-cumi-cumi",
  :code "K13R-060102010102",
  :parent-code "K13R-0601020101"}
 {:seq 40,
  :level 5,
  :title "unta-gajah-burung hantu",
  :code "K13R-060102010103",
  :parent-code "K13R-0601020101"}
 {:seq 41,
  :level 5,
  :title "ciri khusus tumbuhan",
  :code "K13R-060102010104",
  :parent-code "K13R-0601020101"}
 {:seq 42,
  :level 3,
  :title "perkembangan makhluk hidup",
  :code "K13R-06010202",
  :parent-code "K13R-060102"}
 {:seq 43,
  :level 4,
  :title "perkembangan makhluk hidup",
  :code "K13R-0601020201",
  :parent-code "K13R-06010202"}
 {:seq 44,
  :level 5,
  :title "perkembangan manusia",
  :code "K13R-060102020101",
  :parent-code "K13R-0601020201"}
 {:seq 45,
  :level 5,
  :title "perubahan fisik pada masa pubertas",
  :code "K13R-060102020102",
  :parent-code "K13R-0601020201"}
 {:seq 46,
  :level 5,
  :title "perkembangbiakan hewan (generatif)",
  :code "K13R-060102020103",
  :parent-code "K13R-0601020201"}
 {:seq 47,
  :level 5,
  :title "perkembangbiakan hewan (vegetatif)",
  :code "K13R-060102020104",
  :parent-code "K13R-0601020201"}
 {:seq 48,
  :level 5,
  :title "perkembangbiakan tumbuhan generatif",
  :code "K13R-060102020105",
  :parent-code "K13R-0601020201"}
 {:seq 49,
  :level 5,
  :title "perkembangbiakan tumbuhan vegetatif alami",
  :code "K13R-060102020106",
  :parent-code "K13R-0601020201"}
 {:seq 50,
  :level 5,
  :title "perkembangbiakan tumbuhan vegetatif buatan",
  :code "K13R-060102020107",
  :parent-code "K13R-0601020201"}
 {:seq 51,
  :level 3,
  :title "keseimbangan ekosistem",
  :code "K13R-06010203",
  :parent-code "K13R-060102"}
 {:seq 52,
  :level 4,
  :title "keseimbangan ekosistem",
  :code "K13R-0601020301",
  :parent-code "K13R-06010203"}
 {:seq 53,
  :level 5,
  :title "kegiatan manusia yang mempengaruhi keseimbangan ekosistem",
  :code "K13R-060102030101",
  :parent-code "K13R-0601020301"}
 {:seq 54,
  :level 5,
  :title "pemanfaatan hewan dan tumbuhan oleh manusia",
  :code "K13R-060102030102",
  :parent-code "K13R-0601020301"}
 {:seq 55,
  :level 5,
  :title "mencegah kepunahan hewan dan tumbuhan",
  :code "K13R-060102030103",
  :parent-code "K13R-0601020301"}
 {:seq 56,
  :level 3,
  :title "pelestarian makhluk hidup",
  :code "K13R-06010204",
  :parent-code "K13R-060102"}
 {:seq 57,
  :level 4,
  :title "pelestarian makhluk hidup",
  :code "K13R-0601020401",
  :parent-code "K13R-06010204"}
 {:seq 58,
  :level 5,
  :title "hewan dan tumbuhan langka",
  :code "K13R-060102040101",
  :parent-code "K13R-0601020401"}
 {:seq 59,
  :level 5,
  :title "pentinggnya pelestarian makhluk hidup",
  :code "K13R-060102040102",
  :parent-code "K13R-0601020401"}
 {:seq 60,
  :level 3,
  :title "hubungan suhu, sifat, hantaran dan kegunaan benda",
  :code "K13R-06010205",
  :parent-code "K13R-060102"}
 {:seq 61,
  :level 4,
  :title "hubungan suhu, sifat, hantaran dan kegunaan benda",
  :code "K13R-0601020501",
  :parent-code "K13R-06010205"}
 {:seq 62,
  :level 5,
  :title "benda konduktor dan benda isolator",
  :code "K13R-060102050101",
  :parent-code "K13R-0601020501"}
 {:seq 63,
  :level 5,
  :title "bahan untuk membuat konduktor dan isolator",
  :code "K13R-060102050102",
  :parent-code "K13R-0601020501"}
 {:seq 64,
  :level 5,
  :title "konduktor dan isolator pada alat rumah tangga",
  :code "K13R-060102050103",
  :parent-code "K13R-0601020501"}
 {:seq 65,
  :level 3,
  :title "perubahan pada benda",
  :code "K13R-06010206",
  :parent-code "K13R-060102"}
 {:seq 66,
  :level 4,
  :title "perubahan pada benda",
  :code "K13R-0601020601",
  :parent-code "K13R-06010206"}
 {:seq 67,
  :level 5,
  :title "faktor penyebab perubahan benda",
  :code "K13R-060102060101",
  :parent-code "K13R-0601020601"}
 {:seq 68,
  :level 5,
  :title "pemilihan bahan untuk tujuan tertentu",
  :code "K13R-060102060102",
  :parent-code "K13R-0601020601"}
 {:seq 69,
  :level 3,
  :title "energi dan perubahannya",
  :code "K13R-06010207",
  :parent-code "K13R-060102"}
 {:seq 70,
  :level 4,
  :title "energi dan perubahannya",
  :code "K13R-0601020701",
  :parent-code "K13R-06010207"}
 {:seq 71,
  :level 5,
  :title "pengaruh gaya pada benda",
  :code "K13R-060102070101",
  :parent-code "K13R-0601020701"}
 {:seq 72,
  :level 5,
  :title "hubungan gaya dan gerak",
  :code "K13R-060102070102",
  :parent-code "K13R-0601020701"}
 {:seq 73,
  :level 5,
  :title "gejala kelistrikan ",
  :code "K13R-060102070103",
  :parent-code "K13R-0601020701"}
 {:seq 74,
  :level 5,
  :title "sumber energi listrik",
  :code "K13R-060102070104",
  :parent-code "K13R-0601020701"}
 {:seq 75,
  :level 5,
  :title "rangkaian listrik",
  :code "K13R-060102070105",
  :parent-code "K13R-0601020701"}
 {:seq 76,
  :level 5,
  :title "konduktor dan isolator",
  :code "K13R-060102070106",
  :parent-code "K13R-0601020701"}
 {:seq 77,
  :level 5,
  :title "perubahan energi listrik",
  :code "K13R-060102070107",
  :parent-code "K13R-0601020701"}
 {:seq 78,
  :level 3,
  :title "penghematan energi",
  :code "K13R-06010208",
  :parent-code "K13R-060102"}
 {:seq 79,
  :level 4,
  :title "penghematan energi",
  :code "K13R-0601020801",
  :parent-code "K13R-06010208"}
 {:seq 80,
  :level 5,
  :title "penggunaan bahan bakar dan listrik",
  :code "K13R-060102080101",
  :parent-code "K13R-0601020801"}
 {:seq 81,
  :level 5,
  :title "energi listrik",
  :code "K13R-060102080102",
  :parent-code "K13R-0601020801"}
 {:seq 82,
  :level 3,
  :title "bumi dan alam semesta",
  :code "K13R-06010209",
  :parent-code "K13R-060102"}
 {:seq 83,
  :level 4,
  :title "bumi dan alam semesta",
  :code "K13R-0601020901",
  :parent-code "K13R-06010209"}
 {:seq 84,
  :level 5,
  :title "matahari dan planet",
  :code "K13R-060102090101",
  :parent-code "K13R-0601020901"}
 {:seq 85,
  :level 5,
  :title "benda langit lainnya",
  :code "K13R-060102090102",
  :parent-code "K13R-0601020901"}
 {:seq 86,
  :level 5,
  :title "gerakan bumi dan pengaruhnya",
  :code "K13R-060102090103",
  :parent-code "K13R-0601020901"}
 {:seq 87,
  :level 5,
  :title "gerakan bulan",
  :code "K13R-060102090104",
  :parent-code "K13R-0601020901"}
 {:seq 88,
  :level 5,
  :title "gerhana bulan",
  :code "K13R-060102090105",
  :parent-code "K13R-0601020901"}
 {:seq 89,
  :level 5,
  :title "gerhana matahari",
  :code "K13R-060102090106",
  :parent-code "K13R-0601020901"}
 {:seq 90,
  :level 5,
  :title "sistem penanggalan",
  :code "K13R-060102090107",
  :parent-code "K13R-0601020901"}
 {:seq 92,
  :level 2,
  :title "Bahasa Inggris",
  :code "K13R-060103",
  :parent-code "K13R-0601"}
 {:seq 93,
  :level 3,
  :title "how many",
  :code "K13R-06010301",
  :parent-code "K13R-060103"}
 {:seq 94,
  :level 4,
  :title "how many",
  :code "K13R-0601030101",
  :parent-code "K13R-06010301"}
 {:seq 95,
  :level 5,
  :title "introduction to how many",
  :code "K13R-060103010101",
  :parent-code "K13R-0601030101"}
 {:seq 96,
  :level 5,
  :title "asking and answer how many (part 1)",
  :code "K13R-060103010102",
  :parent-code "K13R-0601030101"}
 {:seq 97,
  :level 5,
  :title "asking and answer how many (part 2)",
  :code "K13R-060103010103",
  :parent-code "K13R-0601030101"}
 {:seq 98,
  :level 5,
  :title "asking and answer how many (part 3)",
  :code "K13R-060103010104",
  :parent-code "K13R-0601030101"}
 {:seq 99,
  :level 3,
  :title "what do you need",
  :code "K13R-06010302",
  :parent-code "K13R-060103"}
 {:seq 100,
  :level 4,
  :title "what do you need",
  :code "K13R-0601030201",
  :parent-code "K13R-06010302"}
 {:seq 101,
  :level 5,
  :title "intro to what do you need",
  :code "K13R-060103020101",
  :parent-code "K13R-0601030201"}
 {:seq 102,
  :level 5,
  :title "asking for needs",
  :code "K13R-060103020102",
  :parent-code "K13R-0601030201"}
 {:seq 103,
  :level 5,
  :title "asking for needs (part 2)",
  :code "K13R-060103020103",
  :parent-code "K13R-0601030201"}
 {:seq 104,
  :level 3,
  :title "what do you like to drink",
  :code "K13R-06010303",
  :parent-code "K13R-060103"}
 {:seq 105,
  :level 4,
  :title "what do you like to drink",
  :code "K13R-0601030301",
  :parent-code "K13R-06010303"}
 {:seq 106,
  :level 5,
  :title "intro to what do you like to drink",
  :code "K13R-060103030101",
  :parent-code "K13R-0601030301"}
 {:seq 107,
  :level 5,
  :title "asking and answering what do you like to drink (you and i)",
  :code "K13R-060103030102",
  :parent-code "K13R-0601030301"}
 {:seq 108,
  :level 5,
  :title
  "asking and answering what do you like to drink (subject she or he)",
  :code "K13R-060103030103",
  :parent-code "K13R-0601030301"}
 {:seq 109,
  :level 5,
  :title "practice asking what dou like to drink",
  :code "K13R-060103030104",
  :parent-code "K13R-0601030301"}
 {:seq 110,
  :level 5,
  :title "using \"container\" to modify what we like to drink",
  :code "K13R-060103030105",
  :parent-code "K13R-0601030301"}
 {:seq 111,
  :level 3,
  :title "what is your hobby",
  :code "K13R-06010304",
  :parent-code "K13R-060103"}
 {:seq 112,
  :level 4,
  :title "what is your hobby",
  :code "K13R-0601030401",
  :parent-code "K13R-06010304"}
 {:seq 113,
  :level 5,
  :title "intro to what is your hobby",
  :code "K13R-060103040101",
  :parent-code "K13R-0601030401"}
 {:seq 114,
  :level 5,
  :title "what are your hobbies",
  :code "K13R-060103040102",
  :parent-code "K13R-0601030401"}
 {:seq 115,
  :level 5,
  :title "asking and answering about hobby or hobbies",
  :code "K13R-060103040103",
  :parent-code "K13R-0601030401"}
 {:seq 116,
  :level 3,
  :title "conversation around the school",
  :code "K13R-06010305",
  :parent-code "K13R-060103"}
 {:seq 117,
  :level 4,
  :title "conversation around the school",
  :code "K13R-0601030501",
  :parent-code "K13R-06010305"}
 {:seq 118,
  :level 5,
  :title "conversation around the school (part 1)",
  :code "K13R-060103050101",
  :parent-code "K13R-0601030501"}
 {:seq 119,
  :level 5,
  :title "conversation around the school (part 2)",
  :code "K13R-060103050102",
  :parent-code "K13R-0601030501"}
 {:seq 120,
  :level 5,
  :title "conversation around the school (part 3)",
  :code "K13R-060103050103",
  :parent-code "K13R-0601030501"}
 {:seq 121,
  :level 3,
  :title "what do you think about",
  :code "K13R-06010306",
  :parent-code "K13R-060103"}
 {:seq 122,
  :level 4,
  :title "what do you think about",
  :code "K13R-0601030601",
  :parent-code "K13R-06010306"}
 {:seq 123,
  :level 5,
  :title "intro to what do you think about",
  :code "K13R-060103060101",
  :parent-code "K13R-0601030601"}
 {:seq 124,
  :level 5,
  :title "asking what do you think about",
  :code "K13R-060103060102",
  :parent-code "K13R-0601030601"}
 {:seq 125,
  :level 5,
  :title "example of asking what do you think about",
  :code "K13R-060103060103",
  :parent-code "K13R-0601030601"}
 {:seq 126,
  :level 5,
  :title "example of what do you think about",
  :code "K13R-060103060104",
  :parent-code "K13R-0601030601"}
 {:seq 127,
  :level 3,
  :title "how do you go to school",
  :code "K13R-06010307",
  :parent-code "K13R-060103"}
 {:seq 128,
  :level 4,
  :title "how do you go to school",
  :code "K13R-0601030701",
  :parent-code "K13R-06010307"}
 {:seq 129,
  :level 5,
  :title "intro to how do you go to school",
  :code "K13R-060103070101",
  :parent-code "K13R-0601030701"}
 {:seq 130,
  :level 5,
  :title "asking and answering about how do you go to school",
  :code "K13R-060103070102",
  :parent-code "K13R-0601030701"}
 {:seq 131,
  :level 5,
  :title "practice asking about how do you go to school",
  :code "K13R-060103070103",
  :parent-code "K13R-0601030701"}
 {:seq 132,
  :level 5,
  :title "asking about how do you go to school (subject he and she)",
  :code "K13R-060103070104",
  :parent-code "K13R-0601030701"}
 {:seq 133,
  :level 5,
  :title
  "asking and answering about how do you go to school (subject he and she)",
  :code "K13R-060103070105",
  :parent-code "K13R-0601030701"}
 {:seq 134,
  :level 5,
  :title "example about how do you go to school (subject he and she)",
  :code "K13R-060103070106",
  :parent-code "K13R-0601030701"}
 {:seq 135,
  :level 3,
  :title "how much is it",
  :code "K13R-06010308",
  :parent-code "K13R-060103"}
 {:seq 136,
  :level 4,
  :title "how much is it",
  :code "K13R-0601030801",
  :parent-code "K13R-06010308"}
 {:seq 137,
  :level 5,
  :title "intro to how much is it",
  :code "K13R-060103080101",
  :parent-code "K13R-0601030801"}
 {:seq 138,
  :level 5,
  :title "asking how much is something",
  :code "K13R-060103080102",
  :parent-code "K13R-0601030801"}
 {:seq 139,
  :level 5,
  :title "asking how much are some things",
  :code "K13R-060103080103",
  :parent-code "K13R-0601030801"}
 {:seq 140,
  :level 5,
  :title "example about how much are some things",
  :code "K13R-060103080104",
  :parent-code "K13R-0601030801"}
 {:seq 141,
  :level 5,
  :title "practice of asking how much",
  :code "K13R-060103080105",
  :parent-code "K13R-0601030801"}
 {:seq 142,
  :level 3,
  :title "compass point",
  :code "K13R-06010309",
  :parent-code "K13R-060103"}
 {:seq 143,
  :level 4,
  :title "compass point",
  :code "K13R-0601030901",
  :parent-code "K13R-06010309"}
 {:seq 144,
  :level 5,
  :title "intro to compass point",
  :code "K13R-060103090101",
  :parent-code "K13R-0601030901"}
 {:seq 145,
  :level 5,
  :title "example compass point",
  :code "K13R-060103090102",
  :parent-code "K13R-0601030901"}
 {:seq 146,
  :level 5,
  :title "compass point (part 2)",
  :code "K13R-060103090103",
  :parent-code "K13R-0601030901"}
 {:seq 147,
  :level 5,
  :title "example compass point (part 2)",
  :code "K13R-060103090104",
  :parent-code "K13R-0601030901"}
 {:seq 148,
  :level 5,
  :title "practice compass point",
  :code "K13R-060103090105",
  :parent-code "K13R-0601030901"}
 {:seq 149,
  :level 3,
  :title "shall i get you something",
  :code "K13R-06010310",
  :parent-code "K13R-060103"}
 {:seq 150,
  :level 4,
  :title "shall i get you something",
  :code "K13R-0601031001",
  :parent-code "K13R-06010310"}
 {:seq 151,
  :level 5,
  :title "intro to shall i get you something",
  :code "K13R-060103100101",
  :parent-code "K13R-0601031001"}
 {:seq 152,
  :level 5,
  :title "practice shall i get you something",
  :code "K13R-060103100102",
  :parent-code "K13R-0601031001"}
 {:seq 153,
  :level 3,
  :title "my possession",
  :code "K13R-06010311",
  :parent-code "K13R-060103"}
 {:seq 154,
  :level 4,
  :title "my possession",
  :code "K13R-0601031101",
  :parent-code "K13R-06010311"}
 {:seq 155,
  :level 5,
  :title "intro to my possession",
  :code "K13R-060103110101",
  :parent-code "K13R-0601031101"}
 {:seq 156,
  :level 5,
  :title "asking for  possessions",
  :code "K13R-060103110102",
  :parent-code "K13R-0601031101"}
 {:seq 157,
  :level 5,
  :title "practice expressing possessions",
  :code "K13R-060103110103",
  :parent-code "K13R-0601031101"}
 {:seq 158,
  :level 5,
  :title "practice expressing possessions (plural)",
  :code "K13R-060103110104",
  :parent-code "K13R-0601031101"}
 {:seq 159,
  :level 3,
  :title "i have a headache",
  :code "K13R-06010312",
  :parent-code "K13R-060103"}
 {:seq 160,
  :level 4,
  :title "i have a headache",
  :code "K13R-0601031201",
  :parent-code "K13R-06010312"}
 {:seq 161,
  :level 5,
  :title "intro to i have a headache",
  :code "K13R-060103120101",
  :parent-code "K13R-0601031201"}]
